{% extends 'base.html' %}

{% block content %}
<h1 class="text-5xl font-bold text-center text-white mb-12">Time To Play</h1>

<div class="info-container">
    <h2 class="text-2xl font-bold mb-4 neon-text">Game Information</h2>
    <p class="mb-2 text-white">Pot Size: ${{ "%.2f"|format(game.pot_size) }}</p>
    <p class="mb-2 text-white">Max Players: {{ game.max_players }}</p>
    <p class="mb-2 text-white">Current Players: {{ game.players|length }}</p>
</div>

<form method="POST" class="info-container">
    {{ form.hidden_tag() }}
    <div class="mb-4">
        {{ form.ethereum_address.label(class="block neon-text text-sm font-bold mb-2") }}
        {{ form.ethereum_address(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-300 leading-tight focus:outline-none focus:shadow-outline", style="background-color: rgba(255, 255, 255, 0.1); border-color: #00ffff") }}
        {% for error in form.ethereum_address.errors %}
            <p class="text-red-500 text-xs italic">{{ error }}</p>
        {% endfor %}
    </div>
    <div class="flex items-center justify-between">
        <button type="submit" class="neon-button">
            Join Game
        </button>
    </div>
</form>
{% endblock %}
